Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-12, with the labels that each got.

#2559 Update luna-display from 5.0.2 to 5.1.0
  Casks/luna-display.rb
Labels: bump-cask-pr

#2561 Update saleae-logic from 2.3.39 to 2.3.40
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2560 Update luna-secondary from 5.0.2 to 5.1.0
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#2565 Update fujitsu-scansnap-home from 2.3.0 to 2.3.1
  Casks/fujitsu-scansnap-home.rb
Labels: bump-cask-pr

#2566 Update genki-softwave from 0.12.1 to 0.12.2
  Casks/genki-softwave.rb
Labels: bump-cask-pr

#2567 Update kensingtonworks from 2.3.1_1632814867 to 2.3.2_1637980533
  Casks/kensingtonworks.rb
Labels: bump-cask-pr

#2568 Update nordic-nrf-connect from 3.9.0 to 3.9.1
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2569 Update obinskit from 1.2.9 to 1.2.10
  Casks/obinskit.rb
Labels: bump-cask-pr

#2570 Update qflipper from 0.5.3 to 0.6.1
  Casks/qflipper.rb
Labels: bump-cask-pr

#2571 Update segger-ozone from 3.24g to 3.26
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2572 Update ubiquiti-unifi-controller from 6.4.54 to 6.5.53
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2573 Update saleae-logic from 2.3.40 to 2.3.41
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2574 Update segger-jlink from 7.58c to 7.58d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2563 Update lovense-remote from 1.4.3 to 1.5.6
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2575 Update qflipper from 0.6.1 to 0.6.5
  Casks/qflipper.rb
Labels: bump-cask-pr

#2577 Update muteme from 0.8.2 to 0.8.3
  Casks/muteme.rb
Labels: bump-cask-pr

#2578 Update phidget-control-panel from 22,1.7.20210917 to 22,1.8.20211202
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2579 Update xppen-pentablet from 3.2.2_211029 to 3.2.3_211203
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2528 adding camengine utility
  Casks/camengine.rb
Labels: new cask

#2581 Update qflipper from 0.6.5 to 0.6.6
  Casks/qflipper.rb
Labels: bump-cask-pr

#2582 Update segger-jlink from 7.58d to 7.58e
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2583 Update 8bitdo-firmware-updater from 2.2.4 to 2.2.6
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2584 Update logitech-g-hub from 2021.12.4779 to 2021.13.2906
  Casks/logitech-g-hub.rb
Labels: ci-skip-install, bump-cask-pr

#2585 Update sonos from 13.4 to 13.4.1
  Casks/sonos.rb
Labels: bump-cask-pr

#2586 Update hdhomerun from 20210720 to 20211210
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2587 Update hdhomerun from 20211210 to 20211212
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2588 Update blackvue-viewer from 3.07 to 3.09
  Casks/blackvue-viewer.rb
Labels: bump-cask-pr

#2589 Update fractal-bot from 3.00.11 to 3.00.12
  Casks/fractal-bot.rb
Labels: bump-cask-pr

#2591 Update lovense-remote from 1.5.6 to 1.5.7
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2590 Update hhkb-keymap-tool from 1.1.0 to 1.2.0
  Casks/hhkb-keymap-tool.rb
Labels: bump-cask-pr

#2593 Update ubiquiti-unifi-controller from 6.5.53 to 6.5.54
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2592 Update steelseries-gg from 11.2.0 to 12.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2594 Update 1kc-razer from 0.4.6 to 0.4.7
  Casks/1kc-razer.rb
Labels: bump-cask-pr

#2595 Update 3dconnexion from 10-7-0_r3386 to 10-7-0_r3408
  Casks/3dconnexion.rb
Labels: bump-cask-pr

#2596 Update cycliq-cycliqplus from 2.63 to 2.64
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2597 Update jabra-direct from 5.9.55495 to 5.10.2
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2598 Update segger-ozone from 3.26 to 3.26a
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2600 Update synologyassistant from 7.0.1 to 7.0.2
  Casks/synologyassistant.rb
Labels: bump-cask-pr

#2599 Update segger-jlink from 7.58e to 7.60
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2601 Add cameracontroller 1.3.1
  Casks/cameracontroller.rb
Labels: new cask

#2602 Update elgato-camera-hub from 1.1.0.238 to 1.2.0.350
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#2603 Update logitech-firmwareupdatetool from 2.6.184496 to 2.6.201219
  Casks/logitech-firmwareupdatetool.rb
Labels: bump-cask-pr

#2604 Update cycliq-cycliqplus from 2.64 to 2.66
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2607 Update ubiquiti-unifi-controller from 6.5.54 to 6.5.55
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2608 Update wacom-tablet from 6.3.44-2 to 6.3.45-1
  Casks/wacom-tablet.rb
Labels: bump-cask-pr

#2606 Update steelseries-gg from 12.0.0 to 12.2.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2609 Update 1kc-razer from 0.4.7 to 0.4.8
  Casks/1kc-razer.rb
Labels: bump-cask-pr

#2611 Update roli-connect from 1.0.18 to 1.1.0
  Casks/roli-connect.rb
Labels: bump-cask-pr

#2613 Update displaylink from 1.5 to 1.6
  Casks/displaylink.rb
Labels: bump-cask-pr

#2614 Update 3dconnexion from 10-7-0_r3408 to 10-7-0_r3411
  Casks/3dconnexion.rb
Labels: bump-cask-pr

#2615 Update cycliq-cycliqplus from 2.66 to 2.67
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2617 Update qflipper from 0.6.6 to 0.7.5
  Casks/qflipper.rb
Labels: bump-cask-pr

#2618 Update segger-jlink from 7.60 to 7.60b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2619 Update elgato-camera-hub from 1.2.1.350 to 1.2.1.355
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#2616 Update kensingtonworks from 2.3.2_1637980533 to 3.0.3_1640160151
  Casks/kensingtonworks.rb
Labels: bump-cask-pr
