Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-10, with the labels that each got.

#2441 Update audient-evo from 4.2.1 to 4.2.3
  Casks/audient-evo.rb
Labels: bump-cask-pr

#2442 Update elgato-stream-deck from 5.0.0.14247 to 5.1.0.14733
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#2443 Update fractal-bot from 3.00.09 to 3.00.10
  Casks/fractal-bot.rb
Labels: bump-cask-pr

#2444 Update muteme from 0.6.1 to 0.7.0
  Casks/muteme.rb
Labels: bump-cask-pr

#2445 Update qflipper from 0.3.0 to 0.4.0
  Casks/qflipper.rb
Labels: bump-cask-pr

#2446 Update segger-ozone from 3.24d to 3.24f
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2447 Update xppen-pentablet from 3.2.1_210902 to 3.2.1_210924
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2450 Update clavia-nord-sound-manager from 7.62 to 7.64
  Casks/clavia-nord-sound-manager.rb
Labels: bump-cask-pr

#2451 Update yubico-authenticator from 5.0.5 to 5.1.0
  Casks/yubico-authenticator.rb
Labels: bump-cask-pr

#2503 livecheck update: graceful exit when regex fails page.match
  Casks/3dconnexion.rb
  Casks/phidget-control-panel.rb
  Casks/synology-cloud-station-backup.rb
  Casks/toshiba-color-mfp.rb
Labels: ci-syntax-only, automerge-skip

#2505 Add macOS Big Sur version to the 3Dconnexion cask
  Casks/3dconnexion.rb
Labels: automerge-skip
