Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-07, with the labels that each got.

#2301 Update elektron-overbridge from 2.0.58.8,7c32fb47-2f53-5928-83e9-573e8eaf32c3 to 2.0.60.2,0de7203c-0bdf-5575-acff-4f1be91cee64
  Casks/elektron-overbridge.rb
Labels: bump-cask-pr

#2302 Update hdhomerun from 20210301 to 20210624
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2303 Update jabra-direct from 5.5.37716 to 5.5.39795
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2304 Update saleae-logic from 2.3.29 to 2.3.30
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2305 Update synology-surveillance-station-client from 1.2.10-2171 to 1.2.10-2174
  Casks/synology-surveillance-station-client.rb
Labels: bump-cask-pr

#2306 Update synology-drive from 3.0.1,12664 to 3.0.1,12667
  Casks/synology-drive.rb
Labels: bump-cask-pr

#2299 asix-ax88179: various updates
  Casks/asix-ax88179.rb
Labels: awaiting maintainer feedback

#2308 Update segger-jlink from 7.22b to 7.50
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2307 Update xppen-pentablet from 3.1.2_210610 to 3.1.3_210629
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2311 Add SanDisk Security v1.0.0.13
  Casks/sandisk-security.rb
Labels: new cask

#2318 Update segger-jlink from 7.50 to 7.50a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2320 Update sonos from 13.1.2,63.2.89270 to 13.1.4,63.2.90210
  Casks/sonos.rb
Labels: bump-cask-pr

#2321 Update saleae-logic from 2.3.30 to 2.3.31
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2316 Update safenet-authentication-client from 10.2.109.0 to 10.2.111.0
  Casks/safenet-authentication-client.rb
Labels: bump-cask-pr

#2326 Update netgear-switch-discovery-tool from 1.2.102 to 1.2.103
  Casks/netgear-switch-discovery-tool.rb
Labels: bump-cask-pr

#2330 Update elgato-wave-link from 1.2.3.2622 to 1.3.0.2687
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#2328 Update phidget-control-panel from 22,1.7.20210428 to 22,1.7.20210706
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2327 Update obinskit from 1.1.5 to 1.1.7
  Casks/obinskit.rb
Labels: bump-cask-pr

#2329 Update segger-ozone from 3.22e to 3.24b
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2309 add MuteMe 0.5.0
  Casks/muteme.rb
Labels: new cask

#2331 Update fujitsu-scansnap-home from 2.0.30 to 2.1.0
  Casks/fujitsu-scansnap-home.rb
Labels: bump-cask-pr

#2332 Update nordic-nrf-command-line-tools from 10.12.1 to 10.13.0
  Casks/nordic-nrf-command-line-tools.rb
Labels: bump-cask-pr

#2333 Update 8bitdo-firmware-updater from 2.2.1 to 2.2.4
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2334 Update hdhomerun from 20210624 to 20210720
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2336 Update opentx-companion from 2.3.13 to 2.3.14
  Casks/opentx-companion.rb
Labels: bump-cask-pr

#2338 dispatch-command.yml: update to match main repo
  .github/workflows/dispatch-command.yml
Labels: automerge-skip

#2340 feat: add steelseries gg
  Casks/steelseries-gg.rb
Labels: ci-skip-install, new cask

#2344 Update segger-jlink from 7.50a to 7.52a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2345 Update sonos from 13.1.4,63.2.90210 to 13.2,64.3.19080
  Casks/sonos.rb
Labels: bump-cask-pr

#2343 Add reinersct-cyberjack version SP14
  Casks/reinersct-cyberjack.rb
Labels: awaiting user reply, new cask

#2346 Update bose-soundtouch from 26.0.0-3251-ff6a93d,st3_2020_a3b99494 to 27.0.0-3377-1037583,mr4_c4ab85bd
  Casks/bose-soundtouch.rb
Labels: awaiting maintainer feedback, bump-cask-pr
