Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-06, with the labels that each got.

#2245 Update displaylink from 1.3,1697 to 1.3.1
  Casks/displaylink.rb
Labels: bump-cask-pr, stale

#2257 Update displaylink from 1.3.1,1713 to 1.4,1715
  Casks/displaylink.rb
Labels: bump-cask-pr

#2258 Update bose-updater from 7.0.27.4971 to 7.0.31.4997
  Casks/bose-updater.rb
Labels: bump-cask-pr

#2259 Update saleae-logic from 2.3.27 to 2.3.28
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2261 Update segger-jlink from 7.20b to 7.22
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2260 Update elektron-transfer from 1.2.2.9 to 1.4.0.1
  Casks/elektron-transfer.rb
Labels: bump-cask-pr

#2263 Update ubiquiti-unifi-controller from 6.1.71 to 6.2.25
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2264 Update synology-drive from 2.0.4,11112 to 3.0.0,12663
  Casks/synology-drive.rb
Labels: bump-cask-pr

#2267 Update segger-jlink from 7.22 to 7.22a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2269 Update steelseries-engine from 3.20.0 to 3.22.0
  Casks/steelseries-engine.rb
Labels: bump-cask-pr, ci-skip-install

#2270 Update synology-drive from 3.0.0,12663 to 3.0.1,12664
  Casks/synology-drive.rb
Labels: bump-cask-pr

#2271 Update corsair-icue from 4.9.350 to 4.12.214
  Casks/corsair-icue.rb
Labels: bump-cask-pr

#2273 Update lg-onscreen-control from 4.57,58GHIXrbyl4vWfGQxioocw to 4.64,RZVx2pDPIzebqfElELBcWw
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2274 Update elgato-wave-link from 1.2.0.2595,1.2 to 1.2.1.2612
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#2277 Update sonos from 13.1,63.2.88230 to 13.1.2,63.2.89270
  Casks/sonos.rb
Labels: bump-cask-pr

#2279 Update cycliqplus-firmware-updater from 1.02 to 1.05
  Casks/cycliqplus-firmware-updater.rb
Labels: bump-cask-pr

#2280 Update elektron-overbridge from 2.0.47.1,b53f09be-6301-5e3b-b963-e94f3a517dc1 to 2.0.58.8,7c32fb47-2f53-5928-83e9-573e8eaf32c3
  Casks/elektron-overbridge.rb
Labels: bump-cask-pr

#2282 Update saleae-logic from 2.3.28 to 2.3.29
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2283 Update opentx-companion from 2.3.11 to 2.3.12
  Casks/opentx-companion.rb
Labels: bump-cask-pr

#2284 Update lmsclients-squeezeplay from 8.0.1r1368 to 8.0.1r1382
  Casks/lmsclients-squeezeplay.rb
Labels: bump-cask-pr

#2286 Update segger-jlink from 7.22a to 7.22b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2289 Update jabra-direct from 5.4.33519 to 5.5.37716
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2281 Update xppen-pentablet from 3.1.1_210507 to 3.1.2_210610
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2285 Add KensingtonWorks v2.2.10
  Casks/kensingtonworks.rb
Labels: new cask

#2291 Update elgato-wave-link from 1.2.1.2612 to 1.2.3.2622
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#2292 Update nordic-nrf-connect from 3.6.1 to 3.7.0
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2293 Update ubiquiti-unifi-controller from 6.2.25 to 6.2.26
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2294 Pico scope
  Casks/picoscope.rb
Labels: automerge-skip

#2298 Update opentx-companion from 2.3.12 to 2.3.13
  Casks/opentx-companion.rb
Labels: bump-cask-pr
