Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-09, with the labels that each got.

#2391 Update philips-hue-sync from 1.6.1.12 to 1.7.0.19
  Casks/philips-hue-sync.rb
Labels: bump-cask-pr

#2392 Update evolv-escribe-suite from 2_SP24 to 2_SP30
  Casks/evolv-escribe-suite.rb
Labels: bump-cask-pr

#2394 Update xppen-pentablet from 3.2.0_210814 to 3.2.1_210831
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2397 Update 1kc-razer from 0.4.5 to 0.4.6
  Casks/1kc-razer.rb
Labels: bump-cask-pr

#2398 Update bose-updater from 7.0.31.4997 to 7.1.4.5023
  Casks/bose-updater.rb
Labels: bump-cask-pr

#2400 Update saleae-logic from 2.3.35 to 2.3.36
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2401 qflipper: New cask
  Casks/qflipper.rb
Labels: new cask

#2403 Update blackvue-viewer from 3.05 to 3.06
  Casks/blackvue-viewer.rb
Labels: bump-cask-pr

#2404 Update xppen-pentablet from 3.2.1_210831 to 3.2.1_210902
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2405 Update segger-jlink from 7.54 to 7.54a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2406 Update cycliq-cycliqplus from 2.61 to 2.62
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2407 Update nordic-nrf-connect from 3.7.0 to 3.7.1
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2408 Update steelseries-gg from 6.0.0 to 8.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2411 Update sony-ps-remote-play from 4.1.0 to 4.5.0
  Casks/sony-ps-remote-play.rb
Labels: bump-cask-pr

#2413 Added GoPro Webcam Utility v1.3
  Casks/gopro-webcam.rb
Labels: new cask

#2414 Update kensingtonworks from 2.2.10 to 2.2.13_1631176069
  Casks/kensingtonworks.rb
Labels: ci-skip-install

#2410 logitech-g-hub: add livecheck, update app paths
  Casks/logitech-g-hub.rb
Labels: in progress, ci-skip-install, bump-cask-pr

#2416 Update segger-jlink from 7.54a to 7.54b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2417 Update jabra-direct from 5.7.45144 to 5.8.49513
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2418 Update sonos from 13.2,64.3.19080 to 13.3,65.1.21150
  Casks/sonos.rb
Labels: bump-cask-pr

#2419 Update clavia-nord-sound-manager from 7.60 to 7.62
  Casks/clavia-nord-sound-manager.rb
Labels: bump-cask-pr

#2421 Update huiontablet from 15.4.8.172 to 15.5.3.350
  Casks/huiontablet.rb
Labels: bump-cask-pr

#2420 Update cycliqplus-firmware-updater from 1.05 to 1.06
  Casks/cycliqplus-firmware-updater.rb
Labels: bump-cask-pr

#2422 Update phidget-control-panel from 22,1.7.20210816 to 22,1.7.20210917
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2425 Update segger-ozone from 3.24c to 3.24d
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2426 Update segger-jlink from 7.54b to 7.54c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2427 Update ubiquiti-unifi-controller from 6.2.26 to 6.4.54
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2423 Update qflipper from 0.2.1 to 0.3.0
  Casks/qflipper.rb
Labels: bump-cask-pr

#2429 Update cycliq-cycliqplus from 2.62 to 2.63
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2436 Update kensingtonworks from 2.2.13_1631176069 to 2.3.1_1632814867
  Casks/kensingtonworks.rb
Labels: ci-skip-install, bump-cask-pr

#2437 Update segger-jlink from 7.54c to 7.54d
  Casks/segger-jlink.rb
Labels: bump-cask-pr
