Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-05, with the labels that each got.

#2206 microsoft-intellitype: remove
  Casks/microsoft-intellitype.rb
Labels: marked for removal/rejection

#2217 Remove automerge workflow
  .github/workflows/automerge.yml
Labels: automerge-skip, ci-syntax-only

#2215 wacom-tablet: add livecheck
  Casks/wacom-tablet.rb
Labels: ci-syntax-only

#2222 Update drobo-dashboard from 3.5.2,115659 to 3.6.1,115880
  Casks/drobo-dashboard.rb
Labels: bump-cask-pr

#2218 logitech-control-center: add livecheck and desc
  Casks/logitech-control-center.rb
Labels: ci-skip-install

#2221 Update corsair-icue from 3.36.125 to 4.9.350
  Casks/corsair-icue.rb
Labels: bump-cask-pr

#2228 Update logitech-options from 8.50.210 to 8.54.147
  Casks/logitech-options.rb
Labels: bump-cask-pr

#2227 Update jabra-direct from 5.2.20825 to 5.4.33519
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2229 Delete self-approve.yml
  .github/workflows/self-approve.yml
Labels: automerge-skip, ci-syntax-only

#2233 dymo-label: remove
  Casks/dymo-label.rb
Labels: marked for removal/rejection

#2234 Update wacom-tablet from 6.3.42-1 to 6.3.43-3
  Casks/wacom-tablet.rb
Labels: bump-cask-pr, ci-syntax-only

#2236 Update yubico-yubikey-manager from 1.2.2 to 1.2.3
  Casks/yubico-yubikey-manager.rb
Labels: bump-cask-pr

#2237 Update uhk-agent from 1.5.13 to 1.5.14
  Casks/uhk-agent.rb
Labels: bump-cask-pr

#2239 Update segger-jlink from 7.20a to 7.20b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2240 dependabot: ignore updates to `actions/stale` and `dessant/lock-threads`
  .github/dependabot.yml
Labels: automerge-skip

#2244 Add XP-Pen PenTablet drivers v3.1.1
  Casks/xppen-pentablet.rb
Labels: new cask

#2251 add Elgato Wave Link 1.2.0.2595
  Casks/elgato-wave-link.rb
Labels: new cask

#2253 Update sonos from 13.0,62.1.86220 to 13.1,63.2.88230
  Casks/sonos.rb
Labels: bump-cask-pr
