Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2021-11, with the labels that each got.

#2507 Update Logitech Control Center download URL
  Casks/logitech-control-center.rb
Labels: ci-skip-install

#2509 Update elgato-stream-deck from 5.1.2.14743 to 5.1.3.14750
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#2510 Update segger-jlink from 7.56b to 7.56d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2512 Update uhk-agent from 1.5.15 to 1.5.16
  Casks/uhk-agent.rb
Labels: bump-cask-pr

#2511 Update steelseries-gg from 11.1.0 to 11.2.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2513 Update segger-jlink from 7.56d to 7.58
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2515 Update luna-display from 5.0.1,4179 to 5.0.2,4186
  Casks/luna-display.rb
Labels: bump-cask-pr

#2516 Update luna-secondary from 5.0.1,4179 to 5.0.2,4184
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#2519 Update xppen-pentablet from 3.2.1_210924 to 3.2.2_211029
  Casks/xppen-pentablet.rb
Labels: bump-cask-pr

#2522 Update elgato-wave-link from 1.3.0.2689 to 1.3.2.2785
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#2524 Update obinskit from 1.1.9 to 1.2.9
  Casks/obinskit.rb
Labels: bump-cask-pr

#2523 Update nordic-nrf-connect from 3.7.2 to 3.8.0
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2525 Update nordic-nrf-connect from 3.8.0 to 3.9.0
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2521 Update asix-ax88179 from 1.3.0,1147 to 1.3.0,1163
  Casks/asix-ax88179.rb
Labels: bump-cask-pr

#2527 Update reinersct-cyberjack from 3.99.5final.SP13 to 3.99.5final.SP15
  Casks/reinersct-cyberjack.rb
Labels: bump-cask-pr

#2529 Update huiontablet from 15.5.3.350 to 15.5.6.392
  Casks/huiontablet.rb
Labels: bump-cask-pr

#2530 Update segger-jlink from 7.58 to 7.58a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2534 Update sonos from 13.3.2 to 13.4
  Casks/sonos.rb
Labels: bump-cask-pr

#2535 Update logitech-g-hub from 2021.10.8013 to 2021.12.4779
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2536 Update clavia-nord-sound-manager from 7.64 to 7.66
  Casks/clavia-nord-sound-manager.rb
Labels: bump-cask-pr

#2537 Update elecom-mouse-assistant from 5.2.2.003 to 5.2.3.000
  Casks/elecom-mouse-assistant.rb
Labels: bump-cask-pr

#2538 Update garmin-express from 7.9.1.0 to 7.10.0.0
  Casks/garmin-express.rb
Labels: bump-cask-pr

#2539 Update segger-jlink from 7.58a to 7.58b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2540 Update insta360-studio from 4.0.1 to 4.1.0
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#2541 Update 1kc-razer from 0.4.5 to 0.4.6
  Casks/1kc-razer.rb
Labels: bump-cask-pr

#2549 Adding ROLI Connect
  Casks/roli-connect.rb
Labels: new cask

#2550 Update segger-jlink from 7.58b to 7.58c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2554 Add mimu-glover 1.1.0
  Casks/mimu-glover.rb
Labels: new cask

#2552 Add Softwave 0.12.1
  Casks/genki-softwave.rb
Labels: automerge-skip, new cask

#2553 Add Wave for work 0.3.7
  Casks/genki-wave-for-work.rb
Labels: new cask

#2556 Update fujifilm-x-raw-studio from 1.12.0 to 1.14.0
  Casks/fujifilm-x-raw-studio.rb
Labels: bump-cask-pr

#2555 Add Yamaha USB MIDI driver v1.5.0
  Casks/yamaha-usb-midi-driver.rb
Labels: new cask
