Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-04, with the labels that each got.

#2744 Update tiptoi-manager from 4.3.1 to 4.3.2
  Casks/tiptoi-manager.rb
Labels: stale, bump-cask-pr

#2726 xppen-pentablet 3.2.3_211203. Version rollback and fix.
  Casks/xppen-pentablet.rb
Labels: stale

#2734 Add Logi Options+ 0.91.3227
  Casks/logi-options-plus.rb
Labels: automerge-skip, new cask

#2748 Update rode-central from 1.3.6 to 1.3.8
  Casks/rode-central.rb
Labels: bump-cask-pr

#2749 droidcam-obs 1.2.3
  Casks/droidcam-obs.rb
Labels: new cask

#2750 Update synology-surveillance-station-client from 1.2.11-2181 to 1.2.12-2192
  Casks/synology-surveillance-station-client.rb
Labels: bump-cask-pr

#2751 Update qflipper from 1.0.0 to 1.0.1
  Casks/qflipper.rb
Labels: bump-cask-pr

#2753 Remove unnecessary strategy calls
  Casks/audient-evo.rb
  Casks/blue-sherpa.rb
  Casks/bose-updater.rb
  Casks/bragi-updater.rb
  Casks/clavia-nord-sound-manager.rb
  Casks/concept2-utility.rb
  Casks/evolv-escribe-suite.rb
  Casks/focusrite-control.rb
  Casks/fractal-bot.rb
  Casks/gopro-webcam.rb
  Casks/hhkb-pro-driver.rb
  Casks/huiontablet.rb
  Casks/lacie-network-assistant.rb
  Casks/logitech-unifying.rb
  Casks/picoscope.rb
  Casks/prolific-pl2303.rb
  Casks/qnap-external-raid-manager.rb
  Casks/rapoo-mt750s.rb
  Casks/segger-ozone.rb
  Casks/sony-rcs300.rb
  Casks/tomtom-mydrive-connect.rb
  Casks/yamaha-usb-midi-driver.rb
  Casks/yubico-authenticator.rb
  Casks/yubico-yubikey-piv-manager.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#2752 Update logitech-g-hub from 2022.3.2423 to 2022.3.242300
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2754 Update 8bitdo-firmware-updater from 2.2.7 to 2.2.8
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2757 Update segger-jlink from 7.64b to 7.64b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2758 Update logitech-g-hub from 2022.3.242300 to 2022.4.250563
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2760 Update saleae-logic from 2.3.47 to 2.3.49
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2763 Updata insta360-studio from 4.1.0 to 4.2.2
  Casks/insta360-studio.rb
Labels: livecheck

#2761 Update shureplus-motiv from 1.3.0 to 1.3.1
  Casks/shureplus-motiv.rb
Labels: bump-cask-pr

#2764 Update sony-ps-remote-play from 5.0.0 to 5.0.1
  Casks/sony-ps-remote-play.rb
Labels: bump-cask-pr

#2766 Pass regex into strategy block, use #scan
  Casks/3dconnexion.rb
  Casks/asix-ax88179.rb
  Casks/elektron-overbridge.rb
  Casks/elektron-transfer.rb
  Casks/fujifilm-x-raw-studio.rb
  Casks/nordic-nrf-command-line-tools.rb
  Casks/phidget-control-panel.rb
  Casks/ricoh-ps-printers-vol3-exp-driver.rb
  Casks/sandisk-security.rb
  Casks/smartscope.rb
  Casks/synology-cloud-station-backup.rb
  Casks/synology-drive.rb
  Casks/wd-security.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#2765 Update lg-onscreen-control from 5.33 to 5.39
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2767 Update sonos from 14.4 to 14.6
  Casks/sonos.rb
Labels: bump-cask-pr

#2768 Update philips-hue-sync from 1.7.0.19 to 1.8.0.25
  Casks/philips-hue-sync.rb
Labels: bump-cask-pr

#2769 Update saleae-logic from 2.3.49 to 2.3.50
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2770 Update qmk-toolbox from 0.1.1 to 0.2.0
  Casks/qmk-toolbox.rb
Labels: bump-cask-pr

#2772 Update ubiquiti-unifi-controller from 7.0.23 to 7.0.25
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2779 Update luna-display from 5.1.4 to 5.1.5
  Casks/luna-display.rb
Labels: bump-cask-pr

#2780 Update saleae-logic from 2.3.50 to 2.3.51
  Casks/saleae-logic.rb
Labels: bump-cask-pr
