Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-03, with the labels that each got.

#2706 Update steelseries-gg from 15.0.0 to 16.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2707 Update hdhomerun from 20220204 to 20220303
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2708 Update lovense-remote from 1.5.9 to 1.6.0
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2709 Update saleae-logic from 2.3.45 to 2.3.46
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2712 Update 8bitdo-firmware-updater from 2.2.6 to 2.2.7
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2714 Update elgato-stream-deck from 5.2.0.14948 to 5.2.1.15025
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#2715 Update segger-ozone from 3.26b to 3.26c
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2716 Update segger-jlink from 7.62a to 7.62b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2717 Update steelseries-gg from 16.0.0 to 16.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2718 Update ubiquiti-unifi-controller from 6.5.55 to 7.0.23
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2713 Update elgato-camera-hub from 1.2.1.355 to 1.2.2.397
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#2719 Update shureplus-motiv from 1.2.1 to 1.3.0
  Casks/shureplus-motiv.rb
Labels: bump-cask-pr

#2723 Update fujitsu-scansnap-home from 2.4.0 to 2.5.0
  Casks/fujitsu-scansnap-home.rb
Labels: bump-cask-pr

#2724 Update saleae-logic from 2.3.46 to 2.3.47
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2725 Update qflipper from 0.9.0 to 0.9.1
  Casks/qflipper.rb
Labels: bump-cask-pr

#2731 obs-ios-camera-source 2.9.0
  Casks/obs-ios-camera-source.rb
Labels: new cask

#2729 Update elgato-wave-link from 1.3.2.2785 to 1.4.1.2927
  Casks/elgato-wave-link.rb
Labels: stale, bump-cask-pr

#2735 Update logitech-g-hub from 2022.2.9146 to 2022.3.2423
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2737 Update sony-ps-remote-play from 4.5.0 to 5.0.0
  Casks/sony-ps-remote-play.rb
Labels: bump-cask-pr

#2740 Update segger-jlink from 7.62b to 7.62c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2739 Update lg-onscreen-control from 5.26,zQTS1rYmwxaJellS8SVU4g to 5.33,VHSDGataYCcV8xqv5TSZA
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2743 Update wacom-tablet from 6.3.45-3 to 6.3.46-1
  Casks/wacom-tablet.rb
Labels: bump-cask-pr
