Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-08, with the labels that each got.

#2939 Update ubiquiti-unifi-controller from 7.1.66 to 7.1.68
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2940 Update toshiba-color-mfp from 7.113.0.4 to 7.114.5.0
  Casks/toshiba-color-mfp.rb
Labels: bump-cask-pr

#2941 Update synology-surveillance-station-client from 2.0.0-2276 to 2.0.1-2304
  Casks/synology-surveillance-station-client.rb
Labels: bump-cask-pr

#2942 Update huiontablet from 15.5.6.433 to 15.6.1.34
  Casks/huiontablet.rb
Labels: bump-cask-pr

#2943 Update roli-connect from 1.1.1 to 1.1.2
  Casks/roli-connect.rb
Labels: bump-cask-pr

#2944 Update fujifilm-x-raw-studio from 1140 to 1150
  Casks/fujifilm-x-raw-studio.rb
Labels: bump-cask-pr

#2945 Update phidget-control-panel from 22,1.10.20220413 to 22,1.10.20220530
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2946 Update elecom-mouse-assistant from 5.2.5.001 to 5.2.6.000
  Casks/elecom-mouse-assistant.rb
Labels: bump-cask-pr

#2947 Update acs-acr39u-smartcard-driver from 1.1.8.2 to 1.1.8.3
  Casks/acs-acr39u-smartcard-driver.rb
Labels: bump-cask-pr

#2948 Update saleae-logic from 2.3.56 to 2.3.58
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2950 Update loupedeck from 5.1.0.12046 to 5.2.1
  Casks/loupedeck.rb
Labels: bump-cask-pr

#2949 Update segger-jlink from 7.68c to 7.70
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2952 Update reinersct-cyberjack from 3.99.5final.SP14 to 3.99.5final.SP15
  Casks/reinersct-cyberjack.rb
Labels: bump-cask-pr

#2957 Update 3dconnexion from 10-7-3 to 10-7-4
  Casks/3dconnexion.rb
Labels: bump-cask-pr

#2955 Update lg-onscreen-control from 5.48 to 5.57
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2956 Update obsbot-tinycam from 1.3.6.12 to 1.3.8.15
  Casks/obsbot-tinycam.rb
Labels: bump-cask-pr

#2954 Update qflipper from 1.1.1 to 1.1.2
  Casks/qflipper.rb
Labels: bump-cask-pr

#2959 Use `on_intel` and `on_arm` blocks
  Casks/lmsclients-squeezeplay.rb
  Casks/muteme.rb
  Casks/reinersct-cyberjack.rb
  Casks/sony-rcs300.rb
Labels: automerge-skip

#2960 Update jabra-direct from 6.2.18901 to 6.3.22201
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2963 Update muteme from 0.11.3 to 0.12.1
  Casks/muteme.rb
Labels: bump-cask-pr

#2966 Add WD Drive Utilities v2.1.1.127
  Casks/wd-drive-utilities.rb
Labels: new cask

#2970 Update logitech-options from 9.60.116 to 9.70.29
  Casks/logitech-options.rb
Labels: bump-cask-pr

#2972 Update wacom-tablet from 6.3.46-1 to 6.3.46-2
  Casks/wacom-tablet.rb
Labels: bump-cask-pr

#2973 Update luna-display from 5.1.7 to 5.1.9
  Casks/luna-display.rb
Labels: bump-cask-pr

#2974 Update bose-updater from 7.1.4.5023 to 7.1.6.5134
  Casks/bose-updater.rb
Labels: bump-cask-pr

#2978 Update mimu-glover from 1.1.1 to 1.1.2
  Casks/mimu-glover.rb
Labels: bump-cask-pr

#2976 Update blackvue-viewer from 3.12 to 3.13
  Casks/blackvue-viewer.rb
Labels: bump-cask-pr

#2971 Update hdhomerun from 20220303 to 20220822
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#2977 Update huiontablet from 15.6.1.34 to 15.6.2.50
  Casks/huiontablet.rb
Labels: bump-cask-pr

#2979 Update phidget-control-panel from 22,1.10.20220530 to 22,1.11.20220822
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2980 Update qflipper from 1.1.2 to 1.1.3
  Casks/qflipper.rb
Labels: bump-cask-pr

#2981 Update roli-connect from 1.1.2 to 1.1.3
  Casks/roli-connect.rb
Labels: bump-cask-pr

#2982 Update saleae-logic from 2.3.58 to 2.3.59
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2983 Update segger-jlink from 7.70 to 7.70c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2984 Update steelseries-gg from 22.0.0 to 23.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2985 Update ubiquiti-unifi-controller from 7.1.68 to 7.2.92
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2987 Update muteme from 0.12.1 to 0.12.2
  Casks/muteme.rb
Labels: bump-cask-pr

#2989 Update logitech-g-hub from 2022.7.290502 to 2022.8.302942
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr
