Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-06, with the labels that each got.

#2850 Update logitech-options from 9.50.122 to 9.60.116
  Casks/logitech-options.rb
Labels: bump-cask-pr

#2851 Update lg-onscreen-control from 5.41 to 5.47
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2852 Update focusrite-control from 3.10.0.1981 to 3.11.0.1983
  Casks/focusrite-control.rb
Labels: bump-cask-pr

#2854 Update lovense-remote from 1.6.2 to 1.6.3
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2855 Update flashforge-flashprint from 5.3.3 to 5.3.4
  Casks/flashforge-flashprint.rb
Labels: bump-cask-pr

#2856 Update garmin-express from 7.12.3.0 to 7.13.2.0
  Casks/garmin-express.rb
Labels: bump-cask-pr

#2857 Update insta360-studio from 4.2.2 to 4.3.1
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#2858 Update segger-jlink from 7.64e to 7.66b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2859 Update segger-ozone from 3.26e to 3.26f
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2860 Update ubiquiti-unifi-controller from 7.1.61 to 7.1.66
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2862 Update apple-hewlett-packard-printer-drivers from 5.1 to 5.1.1
  Casks/apple-hewlett-packard-printer-drivers.rb
Labels: bump-cask-pr

#2861 Add dymo-label
  Casks/dymo-label.rb
Labels: new cask

#2867 Update logitech-g-hub from 2022.5.263319 to 2022.6.271036
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2870 Update canon-eos-utility from 3.15.0.11 to 3.15.10.13
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#2872 Update steelseries-gg from 19.1.0 to 19.2.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2873 Update segger-jlink from 7.66b to 7.66c (universal)
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2874 Remove Yosemite support
  Casks/elgato-game-capture-hd.rb
  Casks/logitech-unifying.rb
  Casks/nvidia-web-driver.rb
  Casks/roland-quad-capture-usb-driver.rb
  Casks/xerox-print-driver.rb
Labels: ci-syntax-only, automerge-skip

#2875 Update saleae-logic from 2.3.54 to 2.3.55
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2876 yubico-yubikey-personalization-gui: discontinued
  Casks/yubico-yubikey-personalization-gui.rb
Labels: ci-syntax-only

#2877 Update 3dconnexion from 10-7-2 to 10-7-3
  Casks/3dconnexion.rb
Labels: bump-cask-pr

#2878 Update luna-display from 5.1.5 to 5.1.7
  Casks/luna-display.rb
Labels: bump-cask-pr

#2880 Update segger-jlink from 7.66c to 7.66d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2883 Update insta360-studio from 4.3.1 to 4.3.2
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#2884 Update steelseries-gg from 19.2.0 to 20.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2886 elgato-video-capture: add livecheck
  Casks/elgato-video-capture.rb
Labels: bump-cask-pr

#2887 elgato-thunderbolt-dock: add livecheck
  Casks/elgato-thunderbolt-dock.rb
Labels: bump-cask-pr

#2888 Update samsung-portable-ssd-t5 from 1.6.9 to 1.6.10
  Casks/samsung-portable-ssd-t5.rb
Labels: bump-cask-pr

#2889 Update focusrite-saffire-mixcontrol from 3.9.3168 to 3.9.3168_0
  Casks/focusrite-saffire-mixcontrol.rb
Labels: bump-cask-pr

#2890 fitbit-connect: add livecheck
  Casks/fitbit-connect.rb
Labels: bump-cask-pr

#2885 Update loupedeck from 5.1.0.12046 to 5.1.0.12046
  Casks/loupedeck.rb
Labels: bump-cask-pr

#2891 Update muteme from 0.10.3 to 0.11.0
  Casks/muteme.rb
Labels: bump-cask-pr

#2892 Update logitech-firmwareupdatetool from 3.0.258181 to 3.2.276959
  Casks/logitech-firmwareupdatetool.rb
Labels: bump-cask-pr

#2894 Update elgato-stream-deck from 5.2.1.15025 to 5.3.0.15195
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#2895 obs-ios-camera-source: add livecheck
  Casks/obs-ios-camera-source.rb
Labels: bump-cask-pr

#2896 Update elgato-stream-deck from 5.3.0.15195 to 5.3.1.15197
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr
