Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-12, with the labels that each got.

#3152 Update steelseries-gg from 27.1.0 to 28.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3153 Update cycliqplus-firmware-updater from 1.08 to 1.09
  Casks/cycliqplus-firmware-updater.rb
Labels: bump-cask-pr

#3154 Update xerox-print-driver from 5.11.1_2372 to 5.11.2_2379
  Casks/xerox-print-driver.rb
Labels: bump-cask-pr

#3155 Update asix-ax88179 from 2.2.0,1311 to 2.2.0,1356
  Casks/asix-ax88179.rb
Labels: bump-cask-pr

#3156 Update steelseries-gg from 28.0.0 to 28.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3164 Update elgato-control-center
  Casks/elgato-control-center.rb
Labels: bump-cask-pr

#3167 Update sonos from 14.20,70.4.35282 to 14.20,70.4.35282
  Casks/sonos.rb
Labels: bump-cask-pr

#3169 Update segger-jlink from 7.82d to 7.82e
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3170 Update fujitsu-scansnap-home from 2.7.0 to 2.8.0
  Casks/fujitsu-scansnap-home.rb
Labels: bump-cask-pr

#3172 Update logitech-g-hub from 2022.10.326382 to 2022.11.345634
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#3177 Update elecom-mouse-assistant from 5.2.6.000 to 5.2.7.000
  Casks/elecom-mouse-assistant.rb
Labels: bump-cask-pr

#3178 Update qflipper from 1.2.1 to 1.2.2
  Casks/qflipper.rb
Labels: bump-cask-pr

#3180 nordic-nrf-command-line-tools: formatting fix
  Casks/nordic-nrf-command-line-tools.rb
Labels: ci-syntax-only

#3187 Update steelseries-gg from 28.2.0 to 29.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3197 Adding Samsung Portable SSD Software T7
  Casks/samsung-portable-ssd-t7.rb
Labels: new cask

#3199 Add Creative 1.5.1,94
  Casks/creative.rb
Labels: new cask

#3209 konica-minolta-bizhub-c750i-driver: convert to `on_system` blocks
  Casks/konica-minolta-bizhub-c750i-driver.rb
Labels: ci-syntax-only

#3217 roland-quad-capture-usb-driver: convert to `on_system` blocks
  Casks/roland-quad-capture-usb-driver.rb
Labels: ci-syntax-only

#3202 3dconnexion: convert to `on_system` blocks
  Casks/3dconnexion.rb
Labels: ci-retry

#3213 nvidia-web-driver: convert to `on_system` blocks
  Casks/nvidia-web-driver.rb
Labels: ci-syntax-only

#3127 Update wacom-tablet to 6.4.0-9
  Casks/wacom-tablet.rb
Labels: automerge-skip
