Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-10, with the labels that each got.

#3028 Update steelseries-gg from 24.0.0 to 25.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3029 Update sonos from 14.15 to 14.16
  Casks/sonos.rb
Labels: bump-cask-pr

#3031 Update pallotron-yubiswitch from 0.14 to 0.16
  Casks/pallotron-yubiswitch.rb
Labels: bump-cask-pr

#3032 publish-commit-casks.yml: update repo
  .github/workflows/publish-commit-casks.yml
Labels: automerge-skip

#3033 Update qflipper from 1.2.0 to 1.2.1
  Casks/qflipper.rb
Labels: bump-cask-pr

#3034 Update segger-jlink from 7.80c to 7.80d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3037 uhk-agent: update livecheck
  Casks/uhk-agent.rb
Labels: ci-syntax-only, livecheck

#3036 nitrokey: update livecheck
  Casks/nitrokey.rb
Labels: ci-syntax-only, livecheck

#3040 Update saleae-logic from 2.4.0 to 2.4.1
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#3042 Update canon-eos-webcam-utility from 1.0 to 1.1
  Casks/canon-eos-webcam-utility.rb
Labels: bump-cask-pr

#3047 Update segger-jlink from 7.80d to 7.82
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3048 Update steelseries-gg from 25.0.0 to 26.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3050 Update 8bitdo-firmware-updater from 2.3.0 to 2.3.3
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#3051 Update concept2-utility from 7.10.11 to 7.10.15
  Casks/concept2-utility.rb
Labels: bump-cask-pr

#3072 Update hdhomerun from 20220822 to 20221023
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#3074 Update lovense-remote from 1.6.6 to 1.6.7
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#3075 Update hdhomerun from 20221023 to 20221024
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#3076 Update logitech-g-hub from 2022.9.315009 to 2022.10.326382
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#3067 Update elgato-camera-hub from 1.2.3.409 to 1.4.0.770
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#3084 Update displaylink-login-extension from 2021-02 to 2021-02
  Casks/displaylink-login-extension.rb
Labels: bump-cask-pr

#3083 Update displaylink from 1.7.1 to 1.8
  Casks/displaylink.rb
Labels: bump-cask-pr

#3078 Update elgato-wave-link from 1.5.0.3042_2 to 1.5.1.3082
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#3079 Update hhkb-keymap-tool from 1.2.0 to 1.3.0
  Casks/hhkb-keymap-tool.rb
Labels: bump-cask-pr

#3081 Update uhk-agent from 1.5.17 to 2.0.0
  Casks/uhk-agent.rb
Labels: bump-cask-pr

#3082 Update xerox-print-driver from 5.10.1_2333 to 5.11.1_2372
  Casks/xerox-print-driver.rb
Labels: bump-cask-pr

#3086 Update flashforge-flashprint from 5.5.0 to 5.5.1
  Casks/flashforge-flashprint.rb
Labels: bump-cask-pr

#3087 Update garmin-express from 7.14.0.0 to 7.15.0.0
  Casks/garmin-express.rb
Labels: bump-cask-pr
