Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-07, with the labels that each got.

#2898 Update lg-onscreen-control from 5.47 to 5.48
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2900 Update steelseries-gg from 20.0.0 to 20.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2901 Update insta360-studio from 4.3.2 to 4.4.0
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#2902 Update segger-jlink from 7.66e to 7.66f
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2903 Update segger-ozone from 3.26f to 3.26g
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2904 Update audient-evo from 4.2.3 to 4.3.4
  Casks/audient-evo.rb
Labels: bump-cask-pr

#2905 Update qflipper from 1.0.2 to 1.1.0
  Casks/qflipper.rb
Labels: bump-cask-pr

#2906 Update muteme from 0.11.0 to 0.11.1
  Casks/muteme.rb
Labels: bump-cask-pr

#2907 Update displaylink from 1.7 to 1.7.1
  Casks/displaylink.rb
Labels: bump-cask-pr

#2909 Canon MF UFRII printer driver
  Casks/canon-mf-ufr2-printer.rb
Labels: new cask

#2910 Update 8bitdo-firmware-updater from 2.2.9 to 2.3.0
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2911 Update nordic-nrf-connect from 3.11.0 to 3.11.1
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2912 Update saleae-logic from 2.3.55 to 2.3.56
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2913 ADD cardo-update cask version 3.6.0
  Casks/cardo-update.rb
Labels: new cask

#2914 Update segger-jlink from 7.66f to 7.68
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2916 Update jabra-direct from 6.1.13901 to 6.2.18901
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2917 Update philips-hue-sync from 1.8.0.25 to 1.8.1.28
  Casks/philips-hue-sync.rb
Labels: bump-cask-pr

#2918 Update steelseries-gg from 20.1.0 to 21.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2921 Update corsair-icue from 4.24.193 to 4.25.155
  Casks/corsair-icue.rb
Labels: bump-cask-pr

#2922 Update segger-jlink from 7.68 to 7.68a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2923 Update canon-eos-utility from 3.15.10.13 to 3.15.20.4
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#2924 Update segger-jlink from 7.68a to 7.68b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2925 Update sonos from 14.10 to 14.12
  Casks/sonos.rb
Labels: bump-cask-pr

#2928 Update muteme from 0.11.2 to 0.11.3
  Casks/muteme.rb
Labels: bump-cask-pr

#2926 Add eObčanka
  Casks/eobcanka.rb
Labels: new cask

#2927 Update eizo-colornavigator from 7.1.7 to 7.1.8
  Casks/eizo-colornavigator.rb
Labels: bump-cask-pr

#2929 Update logitech-g-hub from 2022.6.271036 to 2022.7.290502
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2930 ccprofiler: move to homebrew-cask-drivers from homebrew-cask
  Casks/calibrite-ccprofiler.rb
Labels: automerge-skip, new cask

#2931 Update corsair-icue from 4.25.155 to 4.26.110
  Casks/corsair-icue.rb
Labels: bump-cask-pr

#2935 Update cycliq-cycliqplus from 2.67 to 2.69
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#2934 Update segger-ozone from 3.26g to 3.26h
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2932 Update steelseries-gg from 21.0.0 to 22.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2937 Update segger-jlink from 7.68b to 7.68c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2936 Update elgato-camera-hub from 1.2.2.397 to 1.2.3.409
  Casks/elgato-camera-hub.rb
Labels: stale, bump-cask-pr

#2938 Update qflipper from 1.1.0 to 1.1.1
  Casks/qflipper.rb
Labels: bump-cask-pr
