Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-05, with the labels that each got.

#2782 Update qflipper from 1.0.1 to 1.0.2
  Casks/qflipper.rb
Labels: bump-cask-pr

#2781 Update segger-jlink from 7.64b to 7.64c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2783 Add Playdate Mirror.app 1.0.0
  Casks/playdate-mirror.rb
Labels: new cask

#2784 Update luna-secondary from 5.1.4 to 5.1.5
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#2785 Update caldigit-docking-utility from 1.9.22 to 1.9.24
  Casks/caldigit-docking-utility.rb
Labels: bump-cask-pr

#2786 Update luna-secondary from 5.1.5 to 5.1.6
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#2790 Update jabra-direct from 5.11.01302 to 5.13.11201
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2789 Update steelseries-gg from 17.1.0 to 18.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2788 Update qmk-toolbox from 0.2.0 to 0.2.1
  Casks/qmk-toolbox.rb
Labels: bump-cask-pr

#2787 Update droidcam-obs from 1.2.3 to 1.5.0
  Casks/droidcam-obs.rb
Labels: bump-cask-pr

#2791 Update segger-jlink from 7.64c to 7.64d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2792 Update saleae-logic from 2.3.51 to 2.3.52
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#2794 canon-eos-utility: various updates
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#2795 Update lovense-remote from 1.6.0 to 1.6.1
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2797 Update flashforge-flashprint from 4.5.1 to 5.3.3
  Casks/flashforge-flashprint.rb
Labels: bump-cask-pr

#2798 Update logitech-g-hub from 2022.4.250563 to 2022.5.262536
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2799 Update synologyassistant from 7.0.2 to 7.0.3
  Casks/synologyassistant.rb
Labels: bump-cask-pr

#2800 Update segger-jlink from 7.64d to 7.64e
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#2801 Update blackvue-viewer from 3.12 to 3.12
  Casks/blackvue-viewer.rb
Labels: bump-cask-pr

#2802 Update concept2-utility from 7.10.01 to 7.10.11
  Casks/concept2-utility.rb
Labels: bump-cask-pr

#2803 Update cycliqplus-firmware-updater from 1.06 to 1.08
  Casks/cycliqplus-firmware-updater.rb
Labels: bump-cask-pr

#2804 Update elecom-mouse-assistant from 5.2.4.000 to 5.2.5.001
  Casks/elecom-mouse-assistant.rb
Labels: bump-cask-pr

#2805 Update elektron-transfer from 1.4.0.1 to 1.5.0.14
  Casks/elektron-transfer.rb
Labels: bump-cask-pr

#2806 Update elektron-overbridge from 2.0.65.2 to 2.1.1.2
  Casks/elektron-overbridge.rb
Labels: bump-cask-pr

#2807 Update garmin-express from 7.11.1.0 to 7.12.3.0
  Casks/garmin-express.rb
Labels: bump-cask-pr

#2808 Update huiontablet from 15.5.6.392 to 15.5.6.433
  Casks/huiontablet.rb
Labels: bump-cask-pr

#2809 Update nordic-nrf-connect from 3.10.0 to 3.11.0
  Casks/nordic-nrf-connect.rb
Labels: bump-cask-pr

#2810 Update opentx-companion from 2.3.14 to 2.3.15
  Casks/opentx-companion.rb
Labels: bump-cask-pr

#2811 Update phidget-control-panel from 22,1.10.20220211 to 22,1.10.20220413
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#2812 Update picoscope from 6.14.61 to 6.14.62
  Casks/picoscope.rb
Labels: bump-cask-pr

#2813 Update qnap-external-raid-manager from 1.3.4.0917 to 1.3.5.0428
  Casks/qnap-external-raid-manager.rb
Labels: bump-cask-pr

#2814 Update segger-ozone from 3.26c to 3.26e
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#2815 Update synology-drive from 3.0.3 to 3.1.0
  Casks/synology-drive.rb
Labels: bump-cask-pr

#2816 Update synology-surveillance-station-client from 1.2.12-2192 to 2.0.0-2276
  Casks/synology-surveillance-station-client.rb
Labels: bump-cask-pr

#2817 Update ubiquiti-unifi-controller from 7.0.25 to 7.1.61
  Casks/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#2818 Update lg-onscreen-control from 5.39 to 5.41
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2819 Update logitech-g-hub from 2022.5.262536 to 2022.5.263319
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#2820 Update lg-onscreen-control from 5.41,NZaPtr88w4AvKxVIbuQ to 5.41,AXjfaLqroARlKngdkgctA
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#2821 lg-dual-controller: New Cask
  Casks/lg-dual-controller.rb
Labels: new cask

#2824 Update steelseries-gg from 18.0.0 to 18.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2825 Update qmk-toolbox from 0.2.1 to 0.2.2
  Casks/qmk-toolbox.rb
Labels: bump-cask-pr

#2826 Update focusrite-control from 3.8.3.1967 to 3.10.0.1981
  Casks/focusrite-control.rb
Labels: bump-cask-pr

#2829 Update caldigit-docking-utility from 1.9.24 to 1.9.25
  Casks/caldigit-docking-utility.rb
Labels: bump-cask-pr

#2830 Update jabra-direct from 5.13.11201 to 6.0.12901
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2831 Update lovense-remote from 1.6.1 to 1.6.2
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#2832 Update sonos from 14.6 to 14.8
  Casks/sonos.rb
Labels: bump-cask-pr

#2835 Update steelseries-gg from 18.1.0 to 19.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#2836 Update cameracontroller from 1.4.0 to 1.4.0
  Casks/cameracontroller.rb
Labels: bump-cask-pr

#2837 Update elgato-game-capture-hd from 2.11.12,3868 to 2.11.14
  Casks/elgato-game-capture-hd.rb
Labels: livecheck

#2838 Update elgato-control-center from 1.1.4,10368 to 1.2.0,10411
  Casks/elgato-control-center.rb
Labels: livecheck

#2841 Update displaylink from 1.6.1 to 1.7
  Casks/displaylink.rb
Labels: bump-cask-pr

#2842 Update elgato-wave-link from 1.4.1.2927 to 1.5.0.3042_2
  Casks/elgato-wave-link.rb
Labels: bump-cask-pr

#2846 Update jabra-direct from 6.0.12901 to 6.1.13901
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#2848 Update 8bitdo-firmware-updater from 2.2.8 to 2.2.9
  Casks/8bitdo-firmware-updater.rb
Labels: bump-cask-pr

#2849 Update muteme from 0.9.3 to 0.10.1
  Casks/muteme.rb
Labels: bump-cask-pr
