Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2022-11, with the labels that each got.

#3093 Update hdhomerun from 20221024 to 20221031
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#3096 Update motu-m-series from 89383 to 92136
  Casks/motu-m-series.rb
Labels: bump-cask-pr

#3098 Update lg-onscreen-control from 5.57 to 5.64
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#3099 Update cardo-update from 3.6.0.21600 to 4.0.0.25587
  Casks/cardo-update.rb
Labels: bump-cask-pr

#3100 Update elgato-camera-hub from 1.4.0.770 to 1.5.0.801
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#3101 Update segger-ozone from 3.28 to 3.28a
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#3102 Update cycliq-cycliqplus from 2.71 to 2.72.1
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#3103 Update canon-eos-utility from 3.15.20.4 to 3.16.1.3
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#3105 Update segger-jlink from 7.82a to 7.82b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3106 Update logitech-options from 9.70.29 to 10.00.75
  Casks/logitech-options.rb
Labels: bump-cask-pr

#3107 Update lg-onscreen-control from 5.64 to 5.65
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#3115 Update luna-secondary from 5.1.7 to 5.2.0
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#3116 Update segger-jlink from 7.82b to 7.82c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3120 Update sonos from 14.19,70.3.35070 to 14.19,70.3.35070
  Casks/sonos.rb
Labels: bump-cask-pr

#3126 Update elgato-control-center from 1.3.0 to 1.3.1
  Casks/elgato-control-center.rb
Labels: bump-cask-pr

#3125 Create Epson Drivers/Utilities
  Casks/epson-photo-plus.rb
  Casks/epson-print-layout.rb
  Casks/epson-surecolor-p900.rb
Labels: awaiting maintainer feedback, automerge-skip, new cask

#3129 Update luna-display from 5.2.0 to 5.2.1
  Casks/luna-display.rb
Labels: bump-cask-pr

#3130 Update luna-secondary from 5.2.0 to 5.2.1
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#3131 Update huiontablet from 15.6.2.50 to 15.6.3.88
  Casks/huiontablet.rb
Labels: bump-cask-pr

#3133 Update luna-secondary from 5.2.1 to 5.2.2
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#3135 Update segger-jlink from 7.82c to 7.82d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3138 Update steelseries-gg from 27.0.0 to 27.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3147 Create bose-usb-link-updater
  Casks/bose-usb-link-updater.rb
Labels: automerge-skip, new cask

#3151 Update droidcam-obs from 2.0.0 to 2.0.1
  Casks/droidcam-obs.rb
Labels: bump-cask-pr
