Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2023-02, with the labels that each got.

#3266 Update segger-jlink from 7.84d to 7.84e
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3269 Add Logi Tune cask
  Casks/logitune.rb
Labels: automerge-skip, new cask

#3271 Update steelseries-gg from 30.0.0 to 31.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3270 Update segger-jlink from 7.84e to 7.84f
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3272 Remove appcasts.
  Casks/canon-captureontouch-utility.rb
  Casks/evoluent-vertical-mouse-device-controller.rb
  Casks/focusrite-thunderbolt.rb
  Casks/fujifilm-x-acquire.rb
  Casks/fujifilm-x-webcam.rb
  Casks/garmin-virb-edit.rb
  Casks/logitech-myharmony.rb
  Casks/ni-488-2.rb
  Casks/razer-synapse.rb
  Casks/reolink-client.rb
  Casks/shearwater.rb
  Casks/silicon-labs-vcp-driver.rb
  Casks/ubiquiti-unifi-controller-lts.rb
  Casks/wd-firmware-updater.rb
Labels: automerge-skip

#3276 microsoft-intellipoint: remove
  Casks/microsoft-intellipoint.rb
Labels: marked for removal/rejection, missing description, appcast migration needed

#3277 Update saleae-logic from 2.4.4 to 2.4.6
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#3279 Update elecom-mouse-assistant from 5.2.8.000 to 5.2.8.001
  Casks/elecom-mouse-assistant.rb
Labels: bump-cask-pr

#3280 Update elgato-stream-deck from 6.0.2.17735 to 6.0.4.18165
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#3281 Update flashforge-flashprint from 5.5.2 to 5.6.0
  Casks/flashforge-flashprint.rb
Labels: bump-cask-pr

#3282 Update fujitsu-scansnap-home from 2.8.0 to 2.9.0
  Casks/fujitsu-scansnap-home.rb
Labels: bump-cask-pr

#3283 Update fujitsu-scansnap-manager from 7.2L51 to 7.2L60
  Casks/fujitsu-scansnap-manager.rb
Labels: bump-cask-pr

#3284 Update insta360-studio from 4.6.5 to 4.6.6
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#3285 Update garmin-express from 7.15.0.0 to 7.16.1.0
  Casks/garmin-express.rb
Labels: bump-cask-pr

#3286 Update logi-options-plus from 1.30.0.7349 to 1.32.0.366807
  Casks/logi-options-plus.rb
Labels: bump-cask-pr

#3287 Update lovense-remote from 1.6.9 to 1.7.0
  Casks/lovense-remote.rb
Labels: bump-cask-pr

#3288 Update phidget-control-panel from 22,1.13.20230109 to 22,1.13.20230203
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr

#3291 Update yubico-authenticator from 6.0.2 to 6.1.0
  Casks/yubico-authenticator.rb
Labels: bump-cask-pr

#3289 Update synology-drive from 3.2.1,13271 to 3.2.1,13272
  Casks/synology-drive.rb
Labels: bump-cask-pr

#3292 Update motu-m-series from 92621 to 92737
  Casks/motu-m-series.rb
Labels: bump-cask-pr

#3293 Update steelseries-gg from 31.0.0 to 32.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3294 Update segger-jlink from 7.84f to 7.86
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3298 Update caldigit-thunderbolt-charging from latest to 1.2
  Casks/caldigit-thunderbolt-charging.rb
Labels: bump-cask-pr

#3299 Update ricoh-theta from latest to 3.19.1
  Casks/ricoh-theta.rb
Labels: bump-cask-pr

#3300 Update steelseries-exactmouse-tool from latest to 1.0
  Casks/steelseries-exactmouse-tool.rb
Labels: bump-cask-pr

#3301 Update luftdateninfo-flashing-tool from latest to 0.0.0
  Casks/luftdateninfo-flashing-tool.rb
Labels: bump-cask-pr

#3302 Update linn-konfig from latest to 4.37.167
  Casks/linn-konfig.rb
Labels: bump-cask-pr

#3297 Update tomtom-sports-connect from latest to 3.3.9
  Casks/tomtom-sports-connect.rb
Labels: bump-cask-pr

#3295 Update sony-xperia-companion from latest to 2.18.7
  Casks/sony-xperia-companion.rb
Labels: bump-cask-pr

#3303 Update canon-eos-utility from 3.16.1.3 to 3.16.10.8
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#3306 fujitsu-scansnap-manager-s1300: remove
  Casks/fujitsu-scansnap-manager-s1300.rb
Labels: marked for removal/rejection, missing description

#3308 Add BluOS Controller.app v3.20.4
  Casks/bluos-controller.rb
Labels: new cask

#3310 Update steelseries-gg from 32.0.0 to 32.1.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3311 Update jabra-direct from 6.5.31801 to 6.6.03101
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#3309 suunto-moveslink2: remove
  Casks/suunto-moveslink2.rb
Labels: marked for removal/rejection

#3312 Update logitune from 3.0.180 to 3.1.74
  Casks/logitune.rb
Labels: bump-cask-pr

#3313 Update segger-jlink from 7.86 to 7.86a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3314 Update sonos from 15.1,71.1-38080 to 15.1,71.1-38080
  Casks/sonos.rb
Labels: bump-cask-pr

#3315 Update logitech-g-hub from 2023.1.364056 to 2023.2.373424
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr

#3316 Update philips-hue-sync from 1.9.0.33 to 1.10.0.38
  Casks/philips-hue-sync.rb
Labels: bump-cask-pr

#3319 Update clavia-nord-sound-manager from 7.66 to 7.70
  Casks/clavia-nord-sound-manager.rb
Labels: bump-cask-pr

#3320 Update elgato-camera-hub from 1.5.1.887 to 1.5.2.905
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#3321 Update elgato-stream-deck from 6.0.4.18165 to 6.0.5.18168
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#3327 Update roli-connect from 1.2.0 to 1.2.1
  Casks/roli-connect.rb
Labels: bump-cask-pr

#3325 Update phidget-control-panel from 22,1.13.20230203 to 22,1.13.20230224
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr, missing zap

#3326 Update rjm-mmgteditor from 4.9.1 to 5.0.0
  Casks/rjm-mmgteditor.rb
Labels: bump-cask-pr

#3328 Update ricoh-theta from 3.19.1 to 3.19.2
  Casks/ricoh-theta.rb
Labels: bump-cask-pr, missing zap

#3331 Update bluos-controller from 3.20.4 to 3.20.5
  Casks/bluos-controller.rb
Labels: bump-cask-pr
