Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2023-01, with the labels that each got.

#3232 Update toshiba-color-mfp from 7.114.5.0 to 7.115.0.0
  Casks/toshiba-color-mfp.rb
Labels: bump-cask-pr

#3235 Update huiontablet from 15.6.3.88 to 15.6.4.100
  Casks/huiontablet.rb
Labels: bump-cask-pr

#3236 Add OBSBOT_WebCam.app v2.0.2.2
  Casks/obsbot-tinycam.rb
  Casks/obsbot-webcam.rb
Labels: automerge-skip

#3237 Make usage commands easily copyable
  README.md
Labels: documentation, automerge-skip

#3245 Update segger-jlink from 7.84a to 7.84b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3246 Update uhk-agent from 2.0.2 to 2.1.0
  Casks/uhk-agent.rb
Labels: bump-cask-pr

#3252 Update lg-onscreen-control from 5.67 to 5.75
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#3253 Update luna-secondary from 5.2.2 to 5.2.3
  Casks/luna-secondary.rb
Labels: bump-cask-pr

#3254 Update epson-print-layout from 1.5.5 to 1.5.8
  Casks/epson-print-layout.rb
Labels: bump-cask-pr

#3256 Update segger-jlink from 7.84b to 7.84c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3264 Update logitech-g-hub from 2022.12.348746 to 2023.1.364056
  Casks/logitech-g-hub.rb
Labels: bump-cask-pr
