Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2023-04, with the labels that each got.

#3395 cycliq-cycliqplus 2.78
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#3396 roli-connect 1.2.2
  Casks/roli-connect.rb
Labels: bump-cask-pr

#3397 uhk-agent 2.1.2
  Casks/uhk-agent.rb
Labels: bump-cask-pr

#3398 elgato-camera-hub 1.6.1.999
  Casks/elgato-camera-hub.rb
Labels: bump-cask-pr

#3400 logi-options-plus 1.36.0.387585
  Casks/logi-options-plus.rb
Labels: bump-cask-pr

#3402 Add Hexcore Link.app 2.0.23
  Casks/hexcore-link.rb
Labels: new cask

#3404 qflipper 1.3.0
  Casks/qflipper.rb
Labels: bump-cask-pr

#3412 Migrate casks to homebrew/cask
  Casks/konica-minolta-bizhub-c750i-driver.rb
  Casks/segger-jlink.rb
  tap_migrations.json
Labels: automerge-skip

#3415 cask-drivers: migrate casks to homebrew/cask
  Casks/canon-eos-utility.rb
  Casks/corsair-icue.rb
  Casks/displaylink.rb
  Casks/elgato-stream-deck.rb
  Casks/elgato-video-capture.rb
  Casks/elgato-wave-link.rb
  Casks/logitech-g-hub.rb
  Casks/sony-ps-remote-play.rb
  Casks/toshiba-color-mfp.rb
  tap_migrations.json
Labels: do not merge, automerge-skip

#3416 cask-drivers: migrate casks to homebrew/cask
  Casks/bluos-controller.rb
  Casks/logitech-camera-settings.rb
  Casks/logitech-options.rb
  Casks/ubiquiti-unifi-controller.rb
  Casks/yubico-yubikey-manager.rb
  tap_migrations.json
Labels: automerge-skip

#3417 garmin-basecamp 4.8.13
  Casks/garmin-basecamp.rb
Labels: bump-cask-pr

#3418 cask-drivers: migrate casks to homebrew/cask
  Casks/cameracontroller.rb
  Casks/elgato-camera-hub.rb
  Casks/elgato-control-center.rb
  Casks/fujitsu-scansnap-home.rb
  Casks/garmin-express.rb
  Casks/logi-options-plus.rb
  Casks/qmk-toolbox.rb
  Casks/sonos.rb
  Casks/synology-drive.rb
  Casks/yubico-authenticator.rb
  tap_migrations.json
Labels: automerge-skip

#3419 cask-drivers: migrate casks to homebrew/cask - 2
  Casks/droidcam-obs.rb
  Casks/elgato-game-capture-hd.rb
  Casks/fitbit-connect.rb
  Casks/gutenprint.rb
  Casks/ricoh-theta.rb
  Casks/steelseries-engine.rb
  Casks/steelseries-gg.rb
  tap_migrations.json
Labels: automerge-skip

#3420 cask-drivers: migrate casks to homebrew/cask
  Casks/dymo-label.rb
  Casks/focusrite-saffire-mixcontrol.rb
  tap_migrations.json
Labels: automerge-skip

#3421 Migrate casks to homebrew/cask.
  Casks/ftdi-vcp-driver.rb
  Casks/prolific-pl2303.rb
  Casks/silicon-labs-vcp-driver.rb
  Casks/wch-ch34x-usb-serial-driver.rb
  tap_migrations.json
Labels: automerge-skip

#3432 rjm-mmgteditor 5.0.1
  Casks/rjm-mmgteditor.rb
Labels: bump-cask-pr

#3430 phidget-control-panel 22,1.14.20230331
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr, missing zap

#3431 philips-hue-sync 1.10.1.42
  Casks/philips-hue-sync.rb
Labels: bump-cask-pr

#3428 nordic-nrf-command-line-tools 10.21.0
  Casks/nordic-nrf-command-line-tools.rb
Labels: bump-cask-pr, missing zap

#3424 bose-updater 7.1.7.5136
  Casks/bose-updater.rb
Labels: bump-cask-pr

#3425 calibrite-ccprofiler 1.1.4
  Casks/calibrite-ccprofiler.rb
Labels: bump-cask-pr, missing zap

#3427 linn-konfig 4.37.172
  Casks/linn-konfig.rb
Labels: bump-cask-pr, missing zap

#3426 insta360-studio 4.7.0
  Casks/insta360-studio.rb
Labels: bump-cask-pr

#3423 3dconnexion 10-8-0
  Casks/3dconnexion.rb
Labels: ci-skip-install, bump-cask-pr

#3434 roli-connect: update livecheck
  Casks/roli-connect.rb
Labels: livecheck

#3435 cycliq-cycliqplus 2.80
  Casks/cycliq-cycliqplus.rb
Labels: bump-cask-pr

#3436 fractal-bot 3.00.16
  Casks/fractal-bot.rb
Labels: bump-cask-pr

#3437 insta360-studio 4.7.1
  Casks/insta360-studio.rb
Labels: bump-cask-pr
