Repository Homebrew/homebrew-cask-drivers, pull requests merged in 2023-03, with the labels that each got.

#3332 Various: remove https:// from `verified:`
  Casks/genki-softwave.rb
  Casks/genki-wave-for-work.rb
  Casks/obsbot-webcam.rb
  Casks/reolink-client.rb
  Casks/sony-xperia-companion.rb
Labels: ci-syntax-only, automerge-skip

#3333 Update segger-jlink from 7.86a to 7.86b
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3334 Update segger-ozone from 3.28c to 3.28d
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#3335 Update saleae-logic from 2.4.6 to 2.4.7
  Casks/saleae-logic.rb
Labels: bump-cask-pr

#3336 Update hdhomerun from 20221205 to 20230303
  Casks/hdhomerun.rb
Labels: bump-cask-pr

#3337 Update loupedeck from 5.2.1 to 5.6.0.15959
  Casks/loupedeck.rb
Labels: bump-cask-pr

#3329 Fix URL for `konica-minolta-bizhub-c750i-driver`.
  Casks/konica-minolta-bizhub-c750i-driver.rb
Labels: missing zap, ci-skip-livecheck

#3341 Update steelseries-gg from 32.1.0 to 33.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3342 Update sonos from 15.1 to 15.2.1
  Casks/sonos.rb
Labels: bump-cask-pr

#3343 Update sony-ps-remote-play from 5.5.0 to 6.0.0
  Casks/sony-ps-remote-play.rb
Labels: bump-cask-pr

#3344 Update wacom-tablet from 6.4.1-1 to 6.4.1-2
  Casks/wacom-tablet.rb
Labels: bump-cask-pr, missing zap

#3345 Update segger-jlink from 7.86b to 7.86c
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3347 canon-mf-printer: update `verified`
  Casks/canon-mf-printer.rb
Labels: missing zap

#3348 Update logi-options-plus from 1.32.0.366807 to 1.34.0.376143
  Casks/logi-options-plus.rb
Labels: bump-cask-pr

#3349 Update elgato-stream-deck from 6.0.5.18168 to 6.1.0.18521
  Casks/elgato-stream-deck.rb
Labels: bump-cask-pr

#3351 Update blackvue-viewer from 3.13 to 3.14
  Casks/blackvue-viewer.rb
Labels: bump-cask-pr, missing zap

#3352 Update jabra-direct from 6.6.03101 to 6.7.06902
  Casks/jabra-direct.rb
Labels: bump-cask-pr

#3353 Update synology-surveillance-station-client from 2.0.2-2406 to 2.1.0-2426
  Casks/synology-surveillance-station-client.rb
Labels: bump-cask-pr, missing zap

#3354 Update segger-jlink from 7.86c to 7.86d
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3355 Update displaylink from 1.8,2022-10 to 1.8.1,2023-03
  Casks/displaylink.rb
Labels: bump-cask-pr, missing zap

#3356 Update evolv-escribe-suite from 2_SP45 to 2_SP50
  Casks/evolv-escribe-suite.rb
Labels: bump-cask-pr

#3357 Update steelseries-gg from 33.0.0 to 34.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3358 Update reolink-client from 8.8.4 to 8.8.5
  Casks/reolink-client.rb
Labels: bump-cask-pr

#3359 Update elgato-video-capture from 2.0.5.1830 to 2.0.7.8720
  Casks/elgato-video-capture.rb
Labels: bump-cask-pr

#3360 Update muteme from 0.14.2 to 0.14.2
  Casks/muteme.rb
Labels: bump-cask-pr

#3362 Update segger-jlink from 7.86d to 7.86e
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3361 Various: Move strategy after regex in livecheck blocks
  Casks/blackvue-viewer.rb
  Casks/datacolor-spyder-elite.rb
  Casks/datacolor-spyder-express.rb
  Casks/datacolor-spyder-pro.rb
  Casks/epson-photo-plus.rb
  Casks/gutenprint.rb
  Casks/lmsclients-squeezeplay.rb
  Casks/philips-hue-sync.rb
  Casks/razer-synapse.rb
  Casks/xppen-pentablet.rb
Labels: automerge-skip

#3364 Update logitune from 3.1.74 to 3.1.100
  Casks/logitune.rb
Labels: bump-cask-pr

#3365 Update bluos-controller from 3.20.5,2023,02 to 3.20.5,2023,02
  Casks/bluos-controller.rb
Labels: bump-cask-pr

#3368 Update bose-usb-link-updater from 1.0.0 to 1.0.0
  Casks/bose-usb-link-updater.rb
Labels: bump-cask-pr

#3369 bragi-updater: remove
  Casks/bragi-updater.rb
Labels: marked for removal/rejection

#3373 Update synologyassistant from 7.0.3 to 7.0.4
  Casks/synologyassistant.rb
Labels: bump-cask-pr

#3371 rubocop: Fix `Cask/StanzaOrder` offenses for `on_*` blocks
  Casks/asix-ax88179.rb
  Casks/displaylink.rb
  Casks/konica-minolta-bizhub-c759-c658-c368-c287-c3851-driver.rb
  Casks/logitech-options.rb
  Casks/xerox-print-driver.rb
Labels: automerge-skip

#3374 Update steelseries-gg from 34.0.0 to 35.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#3377 konica-minolta-bizhub-c750i-driver: various updates
  Casks/konica-minolta-bizhub-c750i-driver.rb
Labels: ci-syntax-only, missing zap

#3378 Update segger-ozone from 3.28d to 3.28e
  Casks/segger-ozone.rb
Labels: bump-cask-pr

#3381 Update segger-jlink from 7.86e to 7.86f
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#3387 calibrite-ccprofiler: various updates
  Casks/calibrite-ccprofiler.rb
Labels: missing zap

#3388 Update canon-eos-utility from 3.16.10.8 to 3.16.11.1
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#3375 Add Opal C1 0.26
  Casks/opal.rb
Labels: ci-syntax-only, new cask

#3389 Update sonos from 15.2,72.2.39150 to 15.2,72.2.39150
  Casks/sonos.rb
Labels: bump-cask-pr

#3390 canon-eos-utility: fix artifact
  Casks/canon-eos-utility.rb
Labels: bump-cask-pr

#3391 Update phidget-control-panel from 22,1.13.20230224 to 22,1.13.20230330
  Casks/phidget-control-panel.rb
Labels: bump-cask-pr, missing zap

#3392 Update loupedeck from 5.6.0.15959 to 5.6.1.16240
  Casks/loupedeck.rb
Labels: bump-cask-pr
